<!DOCTYPE html>
<html>

<head>
  <meta name="description" content="A blazing fast URL shortener built by SubjectRefresh."/>
  <meta property="og:description" content="A blazing fast URL shortener built by SubjectRefresh."/>
  <meta property='og:url' content='http://subr.pw/'/>
  <title>{{#if title}}{{title}}{{else}}Shortener | Made by SubjectRefresh{{/if}}</title>
  <link rel="stylesheet" type="text/css" href="/css/shortener.css" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.min.js'></script>
</head>
<body>
  {{{body}}}
  {{#if showAds}}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Subr.pw -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3884627036744525"
       data-ad-slot="2954906335"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {{/if}}
</body>
</html>
