<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69122586-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-69122586-2', {
      'custom_map': {'dimension1': 'short'}
    });
  </script>
  <meta name="description" content="A blazing fast URL shortener built by SubjectRefresh."/>
  <meta property="og:description" content="A blazing fast URL shortener built by SubjectRefresh."/>
  <meta property='og:url' content='http://subr.pw/'/>
  <title>{{#if title}}{{title}}{{else}}Shortener | Made by SubjectRefresh{{/if}}</title>
  <link rel="stylesheet" type="text/css" href="/css/shortener.css" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.min.js'></script>
</head>
<body>
  <div class='main'>
    {{{body}}}
  </div>
</body>
</html>
