<div style='display: table; width:100%; height: 100%;'>
  <div style='text-align:center; display: table-cell; vertical-align: middle;'>
    <h1>Aww snap... {{error}}</h1>
    <p>It looks like something went wrong. {{message}}</p>
    <p>Please return to the <a href='/'>homepage</a></p>
  </div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
 (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-3884627036744525",
  enable_page_level_ads: true
 });
</script>
