@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Montserrat";
    background: #001F3F;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4rem auto 0;
    max-width: 26rem;
}

.title {
    color: rgba(255, 255, 255, .4);
    font-family: "Montserrat";
    padding: 0rem .5em 2em;
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}

.input-field {
    padding: 0 .5em 2em;
}

.input-field.half {
    flex: 1 0 50%;
}

.input-field.full {
    flex: 2 0 100%;
}

label {
    font-family: "Montserrat";
    display: block;
    position: relative;
    z-index: -9;
    top: 1.5rem;
    color: rgba(255, 255, 255, .4);
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 50;
    letter-spacing: 2px;
    transition: top .3s ease, color .3s ease;
}

label.raised {
    top: 0rem;
}

label.highlight {
    color: rgba(255, 255, 255, .6);
}

[type="text"],
[type="email"] {
    color: rgba(255, 255, 255, .4);
    font-family: "Montserrat";
    padding: .25rem 0 0;
    font-size: 1.25rem;
    font-weight: 100;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    background: none;
    transition: color .3s ease;
}

[type="text"]:focus,
[type="email"]:focus {
    color: rgba(255, 255, 255, 1);
    outline: 0;
}
